body {
  height: 100%;
}

.item-row {
  height: 25px;
}

.table-bordered {
  border: 1px solid black;
}

.filter-box {
  padding: 20px;
  border: 1px solid black;
  background-color: #f8f9fa;
  border-radius: 10px;
}

.filter-group {
  margin-bottom: 10px;
}

.filter-group h3 {
  margin-top: 0;
  margin-bottom: 5px;
}

.filter-group label {
  display: block;
  margin-bottom: 5px;
}

.filter-group input[type="checkbox"] {
  margin-right: 5px;
}

.applied-filters input[type="checkbox"] {
  margin-right: 5px;
}

[class*="col"] {
  padding: 0.5rem;
}

.input-group-btn.input-space {
  padding-left: 15px;
}

.form-control {
  border-radius: 5px;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  border-radius: 5px;
}

.btn-primary:hover {
  background-color: #0069d9;
  border-color: #0062cc;
}

.table-hover tbody tr:hover {
  background-color: rgba(0, 123, 255, 0.1);
}
