.navbar {
  background-color: #f8f9fa;
}

.rounded {
    border-radius: 10px;
    border: 1px solid #c3c3c3;
  }
  


/* 
  add pass fail functionality to grade
  confirm eagle id matches with name */