<!DOCTYPE html>
{% extends 'appbase.html' %} {% block content %} {% load static %}
<html>
  <head>
    <link rel="stylesheet" href="{% static 'application.css' %}" />
    <title>Add Course</title>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col offset-md-3">
          <div class="form-group">
              <form method="post">
                {% csrf_token %}
                <h2 class="border-bottom border-2 border-dark mb-4">
                  Instructor Add Course
                </h2>
                <p class="mb-4">
                  Please Enter Info Below
                </p>

                <div class="form-group mb-4">
                  {{ form.course_name.label_tag }} {{ form.course_name }}
                </div>

                <div class="form-group mb-4">
                  {{ form.course_number.label_tag }} {{ form.course_number }}
                </div>
                <div class="form-group mb-4">
                  {{ form.course_instructor.label_tag }} {{ form.course_instructor }}
                </div>
                <div class="form-group mb-4">
                  {{ form.course_description.label_tag }} {{ form.course_description }}
                </div>

                <div class="form-group mb-4">
                  {{ form.total_time_commitment.label_tag }} {{ form.total_time_commitment }}
                </div>

                <div class="form-group mb-4">
                  {{ form.has_discussion.label_tag }} {% for radio in form.has_discussion %}
                  <div class="form-check">{{ radio }}</div>
                  {% endfor %}
                </div>

                <div class="form-group mb-4">
                  {{ form.num_ta_needed.label_tag }} {{ form.num_ta_needed }}
                </div>


                <div class="form-group mb-4">
                  {{ form.graded_meeting.label_tag }} {% for radio in form.graded_meeting %}
                  <div class="form-check">{{ radio }}</div>
                  {% endfor %}
                </div>

                <div class="form-group mb-4">
                  {{ form.office_hours.label_tag }} {{ form.office_hours }}
                </div>
                

                <div class="form-group mb-4">
                  {{ form.other_info.label_tag }} {{ form.other_info}}
                </div>

                <button type="submit" class="btn btn-primary btn-block mb-4">
                  Submit
                </button>

              </form>
            </div>
        </div>
      </div>
    </div>
  </body>
</html>

{% endblock %}