<!DOCTYPE html>
{% extends 'appbase.html' %} {% block content %} {% load static %}
<html>
  <head>
    <link rel="stylesheet" href="{% static 'application.css' %}" />
    <title>Applying to a Course</title>
  </head>


  <body>

    <div class="container">
      <div class="row">
        <div class="col offset-md-3">
          <div class="form-group">

              <form method="post">
                {% csrf_token %}

                <h2 class="border-bottom border-2 border-dark mb-4">
                  {{ course.course_name }} {{ course.course_number }}
                </h2>
                <h6 class="mb-4">
                  Professor: {{ course.course_instructor}}
                </h6>
                <p class="mb-4">
                  Course Description: {{ course.description }}
                </p>
                <h5 class="mb-4">
                  Available positions: {{course.num_ta_needed}}
                </h5>

                </p>
                </h7 class="mb-4">
                  First Name: {{user.first_name}}
                </h7>
                </p>
                </h8 class="mb-4">
                  Last Name: {{user.last_name}}
                </h8>
                </p>
                </h8 class="mb-4">
                  Eagle ID: {{user.eagle_id}}
                </h8>
                </p>
                </h8 class="mb-4">
                  Grad Year: {{user.year}}
                </h8>
                </p>


                {% if form.errors %}
                <div class="alert alert-danger">
                    {% for field, errors in form.errors.items %}
                        <strong>{{ field|title }}:</strong>
                        {% for error in errors %}
                            {{ error }}
                        {% endfor %}
                    {% endfor %}
                </div>
            {% endif %}
            
           
            <!-- <div class="form-group mb-4">
              {{ form.course_name.label_tag }} {{ form.course_name }}
            </div>
            <div class="form-group mb-4">
              {{ form.course_number.label_tag }} {{ form.course_number }}
            </div>
            <div class="form-group mb-4">
              {{ form.description.label_tag }} {{ form.description }}
            </div> -->


            <input type="hidden" name="course_name" value="{{ course.course_name }}">
            <input type="hidden" name="course_number" value="{{ course.course_number }}">
            <input type="hidden" name="description" value="{{ course.description }}">
                
                <div class="form-group mb-4">
                  {{ form.past_course.label_tag }} {% for radio in form.past_course %}
                  <div class="form-check">{{ radio }}</div>
                  {% endfor %}
                </div>
                <div class="form-group mb-4">
                  {{ form.grade.label_tag }} {{ form.grade }}
                </div>
                <div class="form-group mb-4">
                  {{ form.hours.label_tag }} {{ form.hours }}
                </div>
                <div class="form-group mb-4">
                  {{ form.other_courses.label_tag }} {{ form.other_courses }}
                </div>
                <div class="form-group mb-4">
                  {{ form.misc_information.label_tag }} {{ form.misc_information}}
                </div>
                <button type="submit" class="btn btn-primary btn-block mb-4">
                  Submit
                </button>
              </form>
            </div>
        </div>
      </div>
    </div>
  </body>
</html>
{% endblock %}
