{% extends 'appbase.html' %}

{% block content %}
  <h3>Edit Application</h3>
  <form action="{% url 'edit_application' application.id %}" method="POST">
    {% csrf_token %}
    <div class="form-group">

        <label for="course_name">Course Number:</label>
        <input type="text" name="course_number" id="course_number" value="{{ application.course_number }}" class="form-control" required>

        <label for="course_name">First Name:</label>
        <input type="text" name="first_name" id="first_name" value="{{ application.first_name }}" class="form-control" required>

        <label for="course_name">Last Name:</label>
        <input type="text" name="last_name" id="last_name" value="{{ application.last_name }}" class="form-control" required>

        <label for="eagle_id">Eagle ID:</label>
        <input type="text" name="eagle_id" id="eagle_id" value="{{ application.eagle_id }}" class="form-control" required>
    
        <label for="grad">Graduation Year:</label>
        <input type="number" name="grad" id="grad" value="{{ application.grad }}" class="form-control" required>

        <label for="past_course">Past Course? </label>
        <select name="past_course" id="past_course" class="form-control" required>
            <option value="yes" {% if application.past_course == 'yes' %}selected{% endif %}>Yes</option>
            <option value="no" {% if application.past_course == 'no' %}selected{% endif %}>No</option>
        </select>

        <label for="grade">Grade in Course as Student:</label>
        <input type="text" name="grade" id="grade" value="{{ application.grade }}" class="form-control" required>


        <label for="hours">How many hours can you commit to the position?:</label>
        <input type="number" name="hours" id="hours" value="{{ application.hours }}" class="form-control" required>

        <label for="other_courses">Other Courses</label>
        <input type="text" name="other_courses" id="other_courses" value="{{ application.other_courses }}" class="form-control" required>


        <label for="misc_information">Miscellaneous Information:</label>
        <textarea name="misc_information" id="misc_information" class="form-control" required>{{ application.misc_information }}</textarea>

        <!-- <label for="term">Term:</label>
        <input type="text" name="term" id="term" value="{{ course.term }}" class="form-control" required> -->

        
    </div>

    <input type="submit" class="btn btn-primary" value="Save Changes">
  </form>
{% endblock %}