<!DOCTYPE html>
{% extends 'appbase.html' %} {% block content %} {% load static %}

<html>
    <head>
        <link rel="stylesheet" href="{% static 'instructorSummary.css' %}" />
        <title>Instructor Courses</title>
    </head>
        <body>
            <div class="container-fluid">
                <div class="row">

                    <div class="col">
                        <div class="filter-box">
                          <div class="filter-group">
                            <h3>Term</h3>
                            <label
                              ><input type="checkbox" name="category" value="shoes" />
                              Shoes</label
                            >
                            <label
                              ><input type="checkbox" name="category" value="clothing" />
                              Clothing</label
                            >
                            <label
                              ><input type="checkbox" name="category" value="accessories" />
                              Accessories</label
                            >
                          </div>
                          <div class="filter-group">
                            <h3>Department Code</h3>
                            <label
                              ><input type="checkbox" name="color" value="red" /> Red</label
                            >
                            <label
                              ><input type="checkbox" name="color" value="blue" /> Blue</label
                            >
                            <label
                              ><input type="checkbox" name="color" value="green" />
                              Green</label
                            >
                          </div>
                          <div class="filter-group">
                            <h3>Status</h3>
                            <label
                              ><input type="checkbox" name="size" value="small" /> Open</label
                            >
                            <label
                              ><input type="checkbox" name="size" value="medium" />
                              Closed</label
                            >
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        {% for course in course_objects %}
                        <div class="border border-1 border-dark p-2">
                            <div>{{ course.course_number}} - {{ course.course_name}}</div>
                        </div>
                        {% endfor %} 
                    </div>

                    <div class="col-6">
                        <div class="border border-1 border-dark rounded p-3">
                            {% for course in course_objects %}
                            <div class="p-3">
                            <h4 class="border-bottom border-2 border-dark">{{ course.course_name }}&nbsp;{{ course.course_number}}</h4>
                            <div class="border border-1 border-dark rounded p-3 mt-4">
                                <h5>Course Description</h5>
                                <div>{{ course.course_description }}</div>
                                <div class="mt-4">Status: <strong style="color: green;">Open for Application</strong></div>
                                <button class="btn btn-light">Application Forms</button>
                                {% for application in application_objects %}
                                <div>Grade: {{ application.grade }}</div>
                                {% endfor %}
                            </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </body>
      
</html>
{% endblock %}
