<!DOCTYPE html>
{% extends 'appbase.html' %} {% block content %} {% load static %}

<html>
    <head>
        <link rel="stylesheet" href="{% static 'application.css' %}" />
        <title>Instructor Courses</title>
    </head>
        <body>
            <div class="container-fluid">
                <div class="row">
                    <div class="col offset-sm-6">
                        <div class="border border-1 border-dark rounded p-3">
                            {% for course in course_objects %}
                            <div class="p-3">
                            <h4 class="border-bottom border-2 border-dark">{{ course.course_name }}&nbsp;{{ course.course_number}}</h4>
                            <div class="border border-1 border-dark rounded p-3 mt-4">
                                <h5>Course Description</h5>
                                <div>{{ course.course_description }}</div>
                                <div class="mt-4">Status: <strong style="color: green;">Open for Application</strong></div>
                                <button class="btn btn-light">Application Forms</button>
                                {% for application in application_objects %}
                                <div>Grade: {{ application.grade }}</div>
                                {% endfor %}
                            </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </body>
      
</html>
{% endblock %}
