<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Add Course - Instructor</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">My Account</a></li>
          <li><a href="#">Sign Out</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <form>
        <label for="course-name">Course Name:</label>
        <input type="text" id="course-name" name="course-name"><br><br>

        <label for="course-number">Course Number/Section:</label>
        <input type="text" id="course-number" name="course-number"><br><br>

        <label for="course-instructor">Course Instructor:</label>
        <input type="text" id="course-instructor" name="course-instructor"><br><br>

        <label for="course-description">Course Description:</label>
        <input type="text" id="course-description" name="course-description"><br><br>

        <label for="time-commitment">Time Commitment:</label>
        <input type="text" id="time-commitment" name="time-commitment"><br><br>

        <label for="other-information">Other Relevant Information:</label>
        <input type="text" id="other-information" name="other-information"><br><br>

        <label for="number-tas-needed">Number of TAs Needed:</label>
        <input type="number" id="number-tas-needed" name="number-tas-needed"><br><br>

        <label for="office-hours-required">Office Hours Required:</label>
        <input type="number" id="office-hours-required" name="office-hours-required"><br><br>

        <label for="has-discussion">Has Discussion:</label>
        <button type="button" id="has-discussion-yes">Yes</button>
        <button type="button" id="has-discussion-no">No</button><br><br>

        <label for="homework-graded-in-meeting">Homework/Assignments Graded in Meeting:</label>
        <button type="button" id="homework-graded-yes">Yes</button>
        <button type="button" id="homework-graded-no">No</button><br><br>

        <button type="button" id="cancel">Cancel</button>
        <button type="button" id="save">Save</button>
        <button type="button" id="add-course">Add Course</button>
      </form>
    </main>
  </body>
</html>